#chat-box {
    height: 70vh;
    overflow-y: auto;
}

.card-header {
    background-color: rgb(110, 125, 132);
}

.btn {
    border-color: rgb(179, 179, 179);
    background-color: rgb(93, 119, 159);
}

.card-structure {
    border-width: 2px;
}

.typing-indicator {
    display: yes;
    color: rgb(161, 163, 183);
    font-style: italic;
    font-size: 13px;
}

.navbar-toggler {
    background-color: rgb(109, 116, 138);
}

.dropdown-menu {
    background-color: rgba(36, 36, 44, 0.767);
}

.dropdown-item:hover {
    background-color: rgba(169, 169, 209, 0.767);
}

#user-input {
    background-color: rgb(110, 125, 132);
}